<section id="contact" class="contactm"
  style="width: 100%;height:auto;min-height: 200px;background:url(assets/img/BigGreyBG.png);background-repeat: no-repeat; padding: 100px 0px!important;background-size: cover;"
  data-aos="fade-up">
  <div class="container">

    <div class="row">

      <div class="col-lg-6">

        <div class="contact-title">

          <h2>CONTACT US</h2>

          <h1>Contact Us For<br>

            More Information</h1>

        </div>

        <div class="contact-card">

          <img src="{{'/assets/img/white/Call.png' | relative_url}}" alt="">
          <div class="right-content">

            <p>CALL US ON</p><br>

            <h4>+1 778 1337 9000</h4>

          </div>

        </div>

        <div class="contact-card">

          <img src="{{'/assets/img/white/Email.png' | relative_url}}" alt="">
          <div class="right-content">

            <p>EMAIL US AT</p><br>

            <h4>info@redcanari.com</h4>

          </div>

        </div>

      </div>

      <div class="col-lg-6 contact">
        <form class="php-email-form" role="form" action="https://formspree.io/info@redcanari.com" method="POST" data-aos="fade-up">
          <div class="form-group">
            <label>CONTACT NAME</label>
            <input placeholder="Your Name" type="text" name="name" class="form-control" id="name" data-rule="minlen:4"
              data-msg="Please enter at least 4 chars" />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <label>EMAIL ADDRESS</label>

            <input placeholder="Your Email" type="email" class="form-control" name="email" id="email" data-rule="email"
              data-msg="Please enter a valid email" />
            <div class="validate"></div>
          </div>

          <div class="form-group">
            <label>MESSAGE</label>

            <textarea placeholder="Your Message" class="form-control" name="message" rows="5" data-rule="required"
              data-msg="Please write something for us"></textarea>
            <div class="validate"></div>
          </div>


          <div class="text-center"><button type="submit" class="submit float-left">Send</button></div>
        </form>
      </div>

    </div>

  </div>
</section>