<!-- ======= Header ======= -->
<header id="header" class="fixed-top  header-transparent ">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <!--        <h1 class="text-light"><a href="index.html">Appland</a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="{{site.url | relative_url}}"><img src="{{site.logo_url | relative_url}}" alt="{{site.title}}"
          class="img-fluid"></a>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      {% include navigation.html %}
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <a class="close-icon" data-dismiss="modal" href="#"><i class="icofont-close"></i></a> 
      <form class="search-form" id="gh-search-input" method="get">
        <div class="form-group">
          <input placeholder="Search.." type="search" id="search-input" name="q" class="form-control">
        </div>
      </form>
      <div id="results-container">
      </div>
    </div>
  </div>
</div>